.panel-heading-text {
  font-size: 20px;
  font-weight: bold;
}

.weatherdata-row {
  padding-top: 15px;
  border-top: 1px solid #cccccc;
}

.sensordata-column {
    border-right: 1px solid #cccccc;
}

.card-title {
    text-align: center;
    position: relative;
    bottom: 20px;
    font-weight: bolder;
}

.sensordata-specific-title {
    text-align: center;
}

.panel-heading-text {
    text-align: center;
}


.sensordata-specific-data {
  font-size: 18px;
  padding-top: 10px;
  text-align: center;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
